* {
  border: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.main-container {
  margin: 100px auto;
  background-color: #202020;
  height: 305px;
  width: 300px;
  /* border-style: none; */
  /* border: 0px solid #202020; */
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

.main-text-box {
  width: 290px;
  height: 50px;
  background-color: #202020;
  color: white;
  font-size: 24px;
  text-align: right;
  padding-top: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.btn {
  display: inline-block;
  width: 75px;
  height: 50px;
  border: 2px solid #202020;
  border-radius: 5px;
  color: white;
  background-color: #3b3b3b;
  font-size: 16px;
}

.btn:hover,
.btn:active {
  background-color: #4f4f4f;
  transition: 0.3;
}

.btn--op {
  background-color: #292929;
}

.btn-clr {
  grid-column: 1 / span 2;
  width: 150px;
}

.btn-arr {
  grid-column: 3 / span 2;
  width: 150px;
}

.btn-ans {
  background-color: #f46762;
}

.btn-ans:hover {
  background-color: #dc5d58;
  transition: 0.3;
}
